!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Backstage
    = stylesheet_link_tag 'application_belly'
    = yield(:stylesheets)
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: page_class}

    .container-fluid
      #content.row-fluid
        /= render partial: 'shared/navigation'

    .container-fluid
      #content.row-fluid
        = render 'sessions/current_user'

    %h2= yield(:body_content_title)
    = yield(:body)
    = yield(:side_body)

  %footer
    .container-fluid
      #content.row-fluid
        %p © TKML 2013